@CHARSET "UTF-8";

/** in tinyMce Editor **/
.wpcufpned {
	border: 1px dashed #888;
	background: rgb(154, 151, 123) url('../img/wpfpn-tmce-placeholder.png') no-repeat scroll center center;
	width: 99%;
	height: 200px;
}